Options +FollowSymLinks

#dont show contents of folders
IndexIgnore */*

#turn rewrite on
RewriteEngine On

#rewrite when its a file
RewriteCond %{REQUEST_FILENAME} !-f

#rewrite when its a folder
RewriteCond %{REQUEST_FILENAME} !-d

#rewrite to the index
RewriteRule . index.php

#php rendered in css and js files
<FilesMatch "\.(css|js)$">
 SetHandler application/x-httpd-php
</FilesMatch>